#menu {
	grid-column: 1;
	justify-items: center;
	align-items: center;
	box-shadow: 8px 0 10px 0 rgba(0,0,0,0.7);
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	z-index: 2;
	/*background-image: linear-gradient(
	  45deg,
	  hsl(240deg 100% 20%) 0%,
	  hsl(289deg 100% 21%) 11%,
	  hsl(315deg 100% 27%) 22%,
	  hsl(329deg 100% 36%) 33%,
	  hsl(337deg 100% 43%) 44%,
	  hsl(357deg 91% 59%) 56%,
	  hsl(17deg 100% 59%) 67%,
	  hsl(34deg 100% 53%) 78%,
	  hsl(45deg 100% 50%) 89%,
	  hsl(55deg 100% 50%) 100%
	);*/
}

#iconos {
	height: 100%;
	width: 100%;
	display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem 3rem;
}

#inicio, #califs, #lista, #horario, #salir {
	position: relative;
}

/*#inicio:hover + #t-inicio {
	display: block;
}*/

#califs:hover + #t-califs {
	display: block;
}

#lista:hover + #t-lista {
	display: block;
}

#horario:hover + #t-horario {
	display: block;
}

#salir:hover + #t-salir {
	display: block;
}

#t-inicio, #t-califs, #t-lista, #t-horario, #t-salir {
	display: block;
	position: absolute;
	padding: 5px;
	z-index: 2;
	left: 6%;
	border: 1px solid #414E83;
	background: rgba(65, 78, 131, 0.5);
	height: fit-content;
	font-size: 1.5rem;
	font-weight: bold;
	opacity: 0;
	visibility: hidden;
	transition: 0.5s ease-in-out;
}

#t-inicio {
	top: 5%;
}

#t-califs {
	top: 26%;
}

#t-lista {
	top: 47%;
}

#t-horario {
	top: 68%;
}

#t-salir {
	top: 89%;
}

























/*#menu-icons {
	z-index: 2;
}

#menu-icons, #menu-icons-hover {
	grid-column: 1;
	grid-row: 1;
}

.menu-icons {
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	width: 50%;
	height: 70%;
}

.menu-icons-hover {
	z-index: 1;
	border: 1px solid red;
}*/

i {
	font-size: 2.5rem;
}

i:hover {
	text-shadow: 2px 2px cyan;
	cursor: pointer;
}

i:active {
	color: cyan;
	text-shadow: 2px 2px black;
}