* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Nunito";
}

html, body {
	height: 100%;
}

#container {
	height: 100%;
	display: grid;
	grid-template-columns: 5% 1fr;
	gap: 0 0.5rem; 	
}

#container > *:not(div,nav) {
	display: flex;
	flex-flow: row wrap;
}


.off {
	display: none;
}

#v-inicio {
	display: grid;
	justify-items: center;
	grid-column: 2;
	grid-template-rows: repeat(10, 1fr);
	grid-template-columns: repeat(13, 1fr);
}

#img-alu {
	grid-column: 8 / 12;
	grid-row: 2 / 7;
	border-radius: 50%;
	width: 80%;
	background-size: 100%;
	background-position-x: center;
	display: flex;
	box-shadow: 5px 10px 10px 0 black;
	animation-name: rotar;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

#nom-alu {
	grid-column: 1 / 8;
	grid-row: 2 / 6;
	display: grid;
	grid-template-rows: 10px 1fr;
	gap: 5px 0;
	border-left: solid 10px #25377f;
	width: 60%;
	height: fit-content;
	align-self: center;
	border-radius: 0 5px 5px 0;
	box-shadow: 5px 10px 10px 0 black;
	background-color: #e8e8e8;
}

#datos {
	padding: 1rem;
	font-weight: bold;
}

i {
	font-size: 2.5rem;
	color: #414E83;
}

i:hover {
	text-shadow: 2px 2px black;
	cursor: pointer;
}

i:active {
	color: black;
	text-shadow: 2px 2px black;
}

@font-face {
	font-family: "Nunito";
	src: url('../../fonts/Nunito-VariableFont_wght.ttf') format("truetype");
}

#border-top
{
	width: 100%;
	height: 10px;
	grid-row: 1;
	animation-name: emina;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

#nom-alu:hover #border-top
{
	animation-name: anime;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

#v-grupos {
	justify-items: center;
	grid-column: 2;
	grid-template-columns: 2% 1fr 2%;
	grid-template-rows: 3% 1fr 3%;
}

#grid-grupos {
	display: grid;
	grid-template-columns: 30% 40% 30%;
	grid-template-rows: 1fr;
	width: 100%;
	grid-column: 2;
	grid-row: 2;
	outline: 7px solid #414E83;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
	border-radius: 10px;
}

input[type="number"]
{
	height: 2rem;
	background: #447014;
    border: 2px solid #65962F;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    width: 100%;
    color: white;
    transition: all 1s;
    transform: scale(1.1);
    font-weight: bold;
}

input[type="number"]:disabled {
	background: #65962F;
	transition: all 1s;
	transform: scale(0.9);
}

input[type="number"]:focus {
	outline: none;
}


/* CUSTOM RADIO STYLE */
.radio {
	-webkit-appearance: none;
	display: block;
	margin: 0.5rem;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
	cursor: pointer;
	vertical-align: middle;
  	background-color: hsla(0,0%,0%,.75);
	background-image: -webkit-radial-gradient( hsla(89,70%,90%,1) 0%, hsla(89,70%,70%,1) 15%, hsla(89,70%,60%,.3) 28%, hsla(89,70%,30%,0) 70% );
	background-repeat: no-repeat;
	-webkit-transition: background-position .15s cubic-bezier(.8, 0, 1, 1),
	-webkit-transform .25s cubic-bezier(.8, 0, 1, 1);
	outline: none;
}

.radio:checked {
  	-webkit-transition: background-position .2s .15s cubic-bezier(0, 0, .2, 1),
  	-webkit-transform .25s cubic-bezier(0, 0, .2, 1);
}

.radio:active {
  	-webkit-transform: scale(1.5);
  	-webkit-transition: -webkit-transform .1s cubic-bezier(0, 0, .2, 1);
}


/* The up/down direction logic */

.radio, .radio:active {
  background-position: 0 24px;
}

.radio:checked {
  background-position: 0 0;
}

.radio:checked ~ .radio,
.radio:checked ~ .radio:active {
  background-position: 0 -24px;
}

/* FIN CUSTOM RADIO STYLE */

label {
	transition: all 0.4s;
}

.radio:checked + label {
	text-shadow: #447014 1px 1px;
	font-weight: bold;
	font-size: 1.1rem;
	transition: all 0.4s;
}

#iC1
{
	grid-column: 3;
	grid-row: 1;
}

#iC2
{
	grid-column: 3;
	grid-row: 2;
}

#iC3
{
	grid-column: 3;
	grid-row: 3;
}

#rP1
{
	grid-column: 1;
	grid-row: 1;
}

#rP2
{
	grid-column: 1;
	grid-row: 2;
}

#rP3
{
	grid-column: 1;
	grid-row: 3;
}

#P1
{
	grid-column: 2;
	grid-row: 1;
}

#P2
{
	grid-column: 2;
	grid-row: 2;
}

#P3
{
	grid-column: 2;
	grid-row: 3;
}

input[type="button"]
{
	width: 60%;
	height: fit-content;
}

#guardar:active {
	box-shadow: 1px 1px 9px 0px rgba(0,0,0,0.5);
}

.divgrupo {
	border: 2px #65962F solid;
  cursor: pointer;
  height: fit-content;
  width: 80%;
  padding: 1rem;
  font-weight: bold;
  border-radius: 15px;
  box-shadow: 5px 5px 7px 0 rgba(0,0,0,0.7);
  transition: all 0.26s;
}

.divgrupos
{
	border: 2px #65962F solid;
	cursor: pointer;
	height: fit-content;
	width: 80%;
	padding: 1rem;
	font-weight: bold;
	border-radius: 15px;
	box-shadow: 5px 5px 7px 0 rgba(0,0,0,0.7);
	transition: all 0.26s;
}

.divgrupo:active:hover {
	background: #447014;
}

.divgrupo:hover {
	background: #65962F;
	color: white;
}

.divalum {
	border: 2px #65962F solid;
	cursor: pointer;
	height: fit-content;
  width: 80%;
  padding: 1rem;
  font-weight: bold;
  border-radius: 15px;
  box-shadow: 5px 5px 7px 0 rgba(0,0,0,0.7);
  transition: all 0.26s;
}

.divalum:active:hover {
	background: #447014;
}

.divalum:hover {
	background: #65962F;
	color: white;
}

.divalums {
	border: 2px #65962F solid;
	height: fit-content;
  width: 80%;
  padding: 1rem;
  font-weight: bold;
  border-radius: 15px;
  box-shadow: 5px 5px 7px 0 rgba(0,0,0,0.7);
  transition: all 0.26s;
}

.active {
	background: #447014;
	color: white;
	box-shadow: 2px 2px 7px 0 rgba(0,0,0,0.7);
	transform: scale(0.95);
}

#v-lista {
	justify-items: center;
	grid-column: 2;
	grid-template-columns: 2% 1fr 2%;
	grid-template-rows: 3% 1fr 3%;
}

.grupos-lista {
	display: grid;
	grid-template-columns: 30% 70%;
	grid-template-rows: 1fr;
	width: 100%;
	grid-column: 2;
	grid-row: 2;
	outline: 7px solid #D44E73;
	border-radius: 10px;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.7);
}

.div-grup-mat {
	grid-column: 1;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 20% 80%;
	grid-template-columns: 1fr;
	padding: 1rem;
	gap: 1rem;
}

.div-title {
	grid-row: 1;
	grid-column: 1;
	padding:  2rem;
	background-color: #235070;
	border-radius: 10px;
	font-size: 36px;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.7);
}

.grupos-lista .div-title,
.grupos-lista .save_btn {
	background-color: #D44E73;
}

.div-scroll-g-m {
	grid-row: 2;
	grid-column: 1;
	overflow-y: overlay;
	overflow-x: hidden;
	display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
  gap: 1rem 0;
  height: 95%;
}

.div-alum {
	grid-column: 2;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 20% 80%;
	grid-template-columns: 1fr;
	padding: 1rem;
	gap: 1rem;
}

.div-scroll-alum {
	grid-row: 2;
	grid-column: 1;
	overflow-y: overlay;
	overflow-x: hidden;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: flex-start;
	gap: 1rem 0;
	height: 95%;
	opacity: 0;
	transition: all 1s;
}

#div-scroll-alum
{
	display: grid;
	grid-row: 2;
	grid-template-columns: 50% 25% 25%;
	grid-auto-rows: 4.5rem;
}

#gAsis
{
	display: none;
	grid-column: 2;
	grid-row: 1;
}

#date
{
	display: none;
	grid-column: 3;
	grid-row: 1;
	height: fit-content;
	width: fit-content;
}

.div-califs {
	grid-column: 3;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 20% 80%;
	grid-template-columns: 1fr;
	padding: 1rem;
	gap: 1rem;
}

.div-scroll-califs {
	grid-row: 2;
	grid-column: 1;
	height: 95%;
}

.form {
	display: none;
	grid-template-columns: 10% 1fr 35%;
	grid-template-rows: repeat(5, 1fr);
	height: 100%;
	justify-items: center;
	align-items: center;
}

.save_btn {
	grid-column: 2 / 4;
	grid-row: 5;
	font-size: 1.1rem;
  padding: 0.5rem 1rem;
  width: fit-content;
  border-radius: 15px;
  border: none;
  background: #447014;
  color: white;
  box-shadow: 5px 5px 9px 0px rgba(0,0,0,0.5);
  cursor: pointer;
}


#v-horario {
	justify-content: center;
	align-items: center;
	grid-template-columns: 25% 1fr 15%;
	grid-template-rows: 1fr;
	grid-column: 2;
	height: 100%;
	overflow-y: overlay;
	overflow-x: hidden;
}

#hora {
	width: fit-content;
	padding: 0.5rem 4rem;
}

#horario {
	grid-column: 2;
	grid-row: 1;
}

#tabla-materias
{
	grid-column: 1;
    grid-row: 1;
    height: fit-content;
    margin: 0 5rem;
}

table {
	border-spacing: 1rem;
	font-weight: bold;
}

th,td
{
	padding: 0.5rem 2rem;
	box-shadow: 1px 1px 10px 0 rgba(0,0,0,0.3) !important;
	border-radius: 10px;
}

tr {
	background: rgba(0,0,0,0.2);
}

td
{
	text-align: center;
}

th {
	background: rgba(0,0,0,0.3);
}

@keyframes anime
{
	from{
		border-top: 10px solid #25377f;
		width: 0%;
	}
	to{
		border-top: 10px solid #25377f;
		width: 100%;
	}
}

@keyframes emina
{
	from{
		border-top: 10px solid #25377f;
		width: 100%;
	}
	to{
		border-top: 10px solid #25377f;
		width: 0%;
	}
}

@keyframes rotar {
	0% {
		transform: rotateY(0.0turn);
	}
	50% {
		transform: rotateY(0.5turn);
	}
	100% {
		transform: rotateY(1.0turn);
	}
}