* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Nunito";
}

html, body {
	height: 100%;
}

body.prev *
{
	animation-duration: 0s !important;
}

#container {
	height: 100%;
	display: grid;
	grid-template-columns: 5% 1fr;
	gap: 0 0.5rem; 	
}

#container > *:not(div) {
	display: flex;
	flex-flow: row wrap;
}




#menu {
	grid-column: 1;
	justify-content: center;
	align-content: center;
	box-shadow: 5px 0 10px 0 rgba(0,0,0,0.6);
}


.off {
	display: none;
}

#v-inicio {
	display: grid;
	justify-items: center;
	grid-column: 2;
	grid-template-rows: repeat(10, 1fr);
	grid-template-columns: repeat(13, 1fr);
}

#img-alu {
	outline: 2px solid cyan;
	grid-column: 8 / 12;
	grid-row: 2 / 7;
	border-radius: 50%;
	width: 80%;
	background: url("./img/barry.jpg") no-repeat;
	background-size: 100%;
	background-position-x: center;
	display: flex;
}

#nom-alu {
	grid-column: 1 / 8;
	grid-row: 2 / 6;
	display: grid;
	grid-template-rows: 10px 1fr;
	gap: 5px 0;
	border-left: solid 10px #25377f;
	width: 60%;
	height: 70%;
	align-self: center;
	border-radius: 0 5px 5px 0;
	box-shadow: 5px 10px 10px 0 black;
	background-color: #e8e8e8;
}

#border-top
{
	width: 100%;
	height: 10px;
	grid-row: 1;
	animation-name: emina;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

#nom-alu:hover #border-top
{
	animation-name: anime;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
} 

@keyframes anime
{
	from{
		border-top: 10px solid #25377f;
		width: 0%;
	}
	to{
		border-top: 10px solid #25377f;
		width: 100%;
	}
}

@keyframes emina
{
	from{
		border-top: 10px solid #25377f;
		width: 100%;
	}
	to{
		border-top: 10px solid #25377f;
		width: 0%;
	}
}

#datos
{
	grid-row: 2;
	margin-left: 5%;
	font-size: 25px;
	font-weight: bold;
}

/*CSS para la pestaña de calificaciones*/

#v-califs
{
	grid-template-columns: 15% 1fr 15%;
	grid-template-rows: 100px 1fr;
}

#tab-calif
{
	grid-column: 2;
	grid-row: 2;
	display: grid;
	grid-auto-rows: 50px;
	background-color: #e8e8e8;
	gap: 0.3rem 0;
	border-radius: 10px;
}

.mats
{
	width: 100%;
	height: 100%;
	gap: 0 3rem;
	align-items: center;
	cursor: pointer;
	border-radius: 10px;
	grid-row: 1;
	grid-column: 1/2;
	display: grid;
	grid-template-columns: 80% 1fr;
	background-color: red;
	grid-template-rows: 50px;
	grid-auto-rows: 410px;
}

.linkMat
{
	grid-column: 1;
	grid-row: 1;
	width: 80%;
	margin-left: 2rem;
	font-weight: bold;
	text-decoration: none;
	color: black;
}

#mat-1
{
	grid-row: 1;
}

#mat-2
{
	grid-row: 2;
}

#flechita
{
	grid-column: 2;
	justify-self: center;
}

#prueba
{
	display: block;
	height: 400px;
	width: 100%;
	grid-column: 1/3;
	grid-row: 2;

	outline: 5px solid black;
}

#v-califs {
	
}

#v-lista {
	
}

#v-horario {
	
}




ul {
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	width: 50%;
	height: 70%;
}

i {
	font-size: 2.5rem;
}

i:hover {
	text-shadow: 2px 2px cyan;
	cursor: pointer;
}

i:active {
	color: cyan;
	text-shadow: 2px 2px black;
}

h2 {
	height: fit-content;
	display: contents;
}




@font-face {
	font-family: "Nunito";
	src: url('./fonts/Nunito-VariableFont_wght.ttf') format("truetype");
}

/* Estilo básico del acordeón */
.accordion-item {
    margin-bottom: 5px;
}

.accordion-header {
    background-color: #414E83;
    padding: 10px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    user-select: none;
    border-radius: 10px;
}

.accordion-content {
    display: none;
    padding: 10px;
}

/* Cambia el estilo cuando se abre un elemento */
.accordion-item.active .accordion-header {
    background-color: #223580;
}

/* Muestra el contenido cuando el elemento está activo */
.accordion-item.active .accordion-content {
    display: block;
}

.parciales
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.FP
{
    grid-column: 1;
}

.SP
{
    grid-column: 2;
}

.TP
{
    grid-column: 3;
}

#title
{
	grid-column: 2;
	grid-row: 1;
	justify-self: center;
	align-self: center;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #223580;
	width: 80%;
	height: 70%;
	color: white;
	border-radius: 10px;
}

.accordion-header i {
	font-size: 20px;
	float: right;
	text-shadow: none;
}